.main {
  flex: 1;
  padding: 1rem;
}
.footer {
  padding: 2rem;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--secondary);
  position: relative;
  margin-bottom: 1rem;
  background-color: var(--divColor);
}
.finished {
  background-color: #0b151560;
}
.finished > span {
  color: gray;
  text-decoration: line-through;
}
.task_buttons {
  display: flex;
  gap: 20px;
}
.delete_button {
  background-color: red;
  color: var(--textColor);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.completed_button {
  scale: 1.3;
  accent-color: var(--primary);
}
.new_task_button {
  background-color: var(--accent);
  color: var(--textColor);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}
