.header {
  background-color: rgb(33, 87, 132, 0.3);
  padding: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.buttons {
  display: flex;
  gap: 1rem;
}
.button {
  padding: 0.5rem;
  background-color: rgb(33, 87, 132);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
