:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--bgColor);
  --textColor: #e9f9f9;
  --bgColor: #030d0d;
  --boxColor: #0b1515;
  --primary: #94e4dd;
  --secondary: #215784;
  --accent: #467dd0;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
