:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--bgColor);
  color: var(--textColor);
  --textColor: #e9f9f9;
  --bgColor: #030d0d;
  --divColor: #0b1515;
  --primary: #94e4dd;
  --secondary: #215784;
  --accent: #467dd0;
}
body {
  margin: 0;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
